---
layout: default_style
permalink: /fr/actualite
published: true
---
<!-- Main Container -->
<div id="banners"></div>
<div class="container">
  {% for post in site.posts %}
  <div class="blog-post">
      <h1 class="blog-title">
        <i class="fa fa-file-text"></i>
        <!-- {{ post.title }} -->
        <a class="posts-list-name" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <br>
        <div class="row-post">
          <div class="column-post">
           <img src="../assets/img/post/{{ post.picture }}" alt="Feature-img" align="right" width="100%" height = 400px class="blog-image">
          </div>
          <br>
          <div class="column-post">
            <p>{{ post.description }}</p>
            <span class="badge">{{ post.date | date: '%B %d, %Y' }}</span>
            <div class="pull-right">
              {% if post.label_default %}
                <span class="label label-default">{{ post.label_default }}</span> 
              {% endif %}

              {% if post.label_primary %}
                <span class="label label-primary">{{ post.label_primary }}</span> 
              {% endif %}
              
              {% if post.label_success %}
                <span class="label label-success">{{ post.label_success }}</span> 
              {% endif %}
              
              {% if post.label_info %}
                <span class="label label-info">{{ post.label_info }}</span> 
              {% endif %}
              
              {% if post.label_warning %}
                <span class="label label-warning">{{ post.label_warning }}</span>
              {% endif %}

              {% if post.label_danger %}
                <span class="label label-danger">{{ post.label_danger }}</span>
              {% endif %}
            </div>
           </div>    
      </div>      
    </div>
    <hr>
  {% endfor %}
</div>
<!--End Main Container -->