---
layout: default_style_zh
permalink: /zh/actualite
published: true
---
<!-- 
---
layout: categories
title: Categories
description: 哈哈，你找到了我的文章基因库
keywords: 分类
comments: false
menu: 分类
permalink: /categories/
---

<section class="container posts-content">
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
<h3>{{ category | first }}</h3>
<ol class="posts-list" id="{{ category[0] }}">
{% for post in category.last %}
<li class="posts-list-item">
<span class="posts-list-meta">{{ post.date | date:"%Y-%m-%d" }}</span>
<a class="posts-list-name" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ol>
{% endfor %}
</section> -->
<!-- /section.content -->

<!-- Main Container -->
<div id="banners"></div>
<div class="container">
  {% for post in site.posts %}
  <div class="blog-post">
      <h1 class="blog-title">
        <i class="fa fa-file-text"></i>
        <!-- {{ post.title }} -->
        <a class="posts-list-name" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <br>
      <img src="../assets/img/post/{{ post.picture }}" alt="Feature-img" align="right" width="100%" class="blog-image">
      <br>
      <p>{{ post.description }}</p>
      <span class="badge">{{ post.date | date: '%B %d, %Y' }}</span>
      
      <div class="pull-right">
        {% if post.label_default %}
          <span class="label label-default">{{ post.label_default }}</span> 
         
        {% endif %}

        {% if post.label_primary %}
          <span class="label label-primary">{{ post.label_primary }}</span> 
       
        {% endif %}
        
        {% if post.label_success %}
          <span class="label label-success">{{ post.label_success }}</span> 
       
        {% endif %}
        
        {% if post.label_info %}
          <span class="label label-info">{{ post.label_info }}</span> 
         
        {% endif %}
        
        {% if post.label_warning %}
          <span class="label label-warning">{{ post.label_warning }}</span>
         
        {% endif %}

        {% if post.label_danger %}
          <span class="label label-danger">{{ post.label_danger }}</span>
        
        {% endif %}
      </div>         
    </div>
    <hr>
  {% endfor %}
</div>
<!--End Main Container -->