---
layout: default_style
permalink: /fr/contact
published: true
---
<!-- Main Container -->

<div class="container-fluid-kamn">
  <div class="row">
    <div>
      <iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ site.google_map }}"></iframe>
      <br />
    </div>
    <div class="container">
      <div class="col-lg-4">
        <h4>Contact:</h4>

        <p class="block-author">{{ site.company_name }}</p>
        <p>{{ site.address_line }}</p>
        <p>Tél: {{ site.telephone_number }}</p>
        <p>Email: {{ site.company_email }}</p>
        <!-- <em class="block-author">Email: {{ site.company_email }}</em>  -->
        <em class="block-author">Facebook:  </em> <a href="https://www.facebook.com/eacsarts">  -- lien -- </a>

        <br>
        <br>
        <!-- p class="lead">Social Link</p><hr>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <a href="#"><img src="assets/img/social-icons/btn_skype.png" alt="Skype"></a>
          Call us
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <a href="#"><img src="assets/img/social-icons/btn_facebook.png" alt="Facebook"></a>
          Like us
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
          <a href="#"><img src="assets/img/social-icons/btn_twitter.png" alt="Twitter"></a>
          Follow us
        </div>
        <br !-->
      </div>
      <div class="col-lg-8">
        <div class="feedback-form">

         <div id="contact-response">
         
          <form action="https://formspree.io/f/mvovqwgq" method="post" id="contact-form">
            <fieldset>
              <div class="form-group form-group-fullname">
                <label class="control-label" for="fullname">NOM *</label>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter Your Name">
              </div>
              <div class="form-group form-group-email">
                <label class="control-label" for="email">E-MAIL *</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your E-Mail">
              </div>
              <div class="form-group form-group-message">
                <label class="control-label" for="message">MESSAGE *</label>
                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
              </div>           
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </fieldset>
          </form> 
         </div> 
        </div> 
      </div>
    </div>
  </div>
</div>    
 

<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="blockquote-box blockquote-info animated wow fadeInLeft clearfix">
        <div class="square pull-left">
          <img src="../assets/img/team/liu_s.jpg" alt="Feature-img" height=100% width=100%>
        </div>
        <h4>
          LIU Weiwei
        </h4>
        <p>
         Co-fondatrice de l'EACS<br>
         <a href="/fr/liuweiwei.html">Plus d'info.</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="blockquote-box blockquote-danger animated wow fadeInRight clearfix">
        <div class="square pull-left">
          <img src="../assets/img/team/lin_s.jpg" alt="Feature-img" height=100% width=100%>
        </div>
        <h4>
          LIN Yung-Biau
        </h4>
        <p>
          Co-fondateur de l'EACS<br>
          <a href="/fr/linyungbiau.html">Plus d'info.</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!--End Main Container -->