---
layout: default_style
permalink: /fr/creation
---

<!-- Main Container -->
<div class="container-banner">
  <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
  <div class="banner-centered">Création</div>
</div>

<br>
<br>
<div class="introduction-text">
  <p>La création est à l’intersection d’une formation technique et d’une démarche artistique 
    qui permet le développement des capacités professionnelles. Artistes à la recherche de nouvelles expressions circassiennes 
    ou metteurs en scène sont ainsi amenés à trouver leur voie dans une infinité de directions possibles.<br>
    <br>
  </p>
</div>
<div class="section-global-wrapper">
<img src="../assets/img/creation.jpeg" height=100% width=100% alt="creation"> 

<br>
<br>
<div class="center">
<iframe width=720 height=420
src="https://www.youtube.com/embed/qYP_8xYYSlU">
</iframe>
<br>
<br>
<iframe width=720 height=420
src="https://www.youtube.com/embed/60IeTLBvofw">
</iframe>
<br>
<br>
<iframe width=720 height=420
src="https://www.youtube.com/embed/wOHm6ei9ClM">
</iframe>

</div>
</div>
<!--End Main Container -->