---
layout: default_style_zh
permalink: /zh/echange
---

<!-- Main Container -->
<div class="container-banner">
  <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
  <div class="banner-centered">交流</div>
</div>

<br>
<br>
<div class="introduction-text">
  <p>交流，让我们扩大认识。L’échange se base sur une disposition personnelle à étendre sa sphère de connaissance 
    gràce à la découverte de l’apport de grands créateurs internationaux. 
    Ainsi est-il possible d’avancer pas à pas dans un approfondissement de soi 
    par une ouverture à des expériences nouvelles dans les domaines de la technique de scène et de la direction artistique.<br>
    <br>
  </p>
</div>
<div class="section-global-wrapper">
<img src="../assets/img/echange.jpeg" height=100% width=100% alt="echange"> 

<br>
<br>
<div class="center">
<iframe width=720 height=420
src="https://www.youtube.com/embed/nFP5vOIhMlw">
</iframe>
<br>
<br>
</div>
</div>
<!--End Main Container -->