---
layout: default_style_zh
permalink: /zh/formation
---

<!-- Main Container -->
<div class="container-banner">
  <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
  <div class="banner-centered">课程</div>
</div>

<br>
<br>
<div class="introduction-text">
  <p>课程基于两个方面：身体技术的发展，以及开放的精神。 
    à de nouvelles formes de création. La combinaison des deux permet une approche globale 
    des arts du spectacle pour une formation la plus complète possible des aptitudes de chacun.<br>
    <br>
  </p>
</div>
<div class="section-global-wrapper">
<img src="../assets/img/class.jpeg" height=100% width=100% alt="skedule"> 
<div class="introduction-text">
<h2>上课地点：</h2>
<p>
<ul>
  <li>°° Gymnase Caillaux : 3 rue Caillaux 75013 Paris
    <ul>
      <li>- Métro : Maison Blanche</li>
    </ul>
  </li>
  <li>°° Gymnase Paris 7 Diderot : 9 rue de la Croix Jarry 75013 Paris</li>
  <ul>
    <li>- Métro : Bibliothèque François Miterrend </li>
  </ul>
  <li>°° Sévres cirque enfant : Gymnase du collège : 43 rue Binelles 92310 Sévres</li>
</ul> 
</p>
<h2>暑期训练营：</h2>
</div>
<div class="center">
<iframe width=720 height=420
src="https://www.youtube.com/embed/D1EaiTW7Ovs">
</iframe>
<br>
<br>
<iframe width=720 height=420
src="https://www.youtube.com/embed/cDGOtfzBIgI">
</iframe>
</div>
</div>
<!--End Main Container -->