---
layout: default_style_zh
permalink: /zh/linyungbiau
---

<!-- Main Container -->
<div class="container-banner">
  <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
  <div class="banner-centered">林永彪</div>
</div>

<br><br>

<div class="section-global-wrapper center">
  <img src="../assets/img/team/lin.png" height=400 width=400 alt="linyungbiau"> 
  
  <br><br>
  
  <div>
    <p>
      太阳还没升起的时候, on peut entendre aux quatre coins de la place des voix d’enfants 
      récitant textes et chants – un peu comme sur la place du marché à l’aube 
      lorsque la cacophonie de voix des commerçants appelant la clientèle annonce le jour qui commence. 
      Les enseignants enseignent alors avec rigueur et méthode : acrobatie ; bases de mouvements ; 
      techniques de combat ; jeu de comédie ; civilisation ; apprentissage, répétition et filage jusqu’à la scène… 
      Ainsi passent les journées, jusqu’à ce que les élèves retrouvent le calme de la nuit déjà tombée.
      <br><br>

      Huit années se sont déroulées pour Lin Yung-Biau comme une seule journée, 
      jusqu’à ce qu’il soit diplômé à Da-peng (Taiwan) de l’École de l’Opéra chinois en obtenant le Prix de Jeune Talent National en Clown. 
      Après sa formation, Lin Yung-Biau a travaillé au sein de différentes compagnies artistiques nationales 
      tout en créant et jouant des rôles pour des compagnies privées de danse et de théâtre, 
      dans des productions télévisées et cinématographiques. Au cours de ces mêmes années, il a également réalisé une tournée aux Etats-Unis 
      et dans sept pays asiatiques pour présenter la troupe nationale de Taiwan de l’Opéra de Pékin. 
      Son parcours l’a amené à partir en France en 1989 étudier à l’Ecole Internationale du Mimodrame Marcel Marceau 
      et à l’Institut Professionnel de Danse Kim Kam pour compléter sa formation avec les styles européens de danse et de théâtre. 
      Pendant plusieurs dizaines d’années il a foulé le sol de tous les continents en jouant, créant, dirigeant, dansant, enseignant, etc. 
      pour des compagnies de théâtre, de danse, de cirque et d’opéra,productions cinématographiques, etc… 
    
      <br><br>    
      Par son expérience dans les arts vivants, Lin Yung-Biau considère que l’art imprime une trace importante de l’évolution 
      de la civilisation humaine. La recherche d’une forme artistique contemporaine repose pour lui sur l’effort, au présent, 
      de chacun de nous comme artiste. Il souhaite pour cela préserver ce qu’il a appris, réalisé, vu au cours de ses recherches 
      pour pouvoir le partager avec son entourage dans une quête commune de nouvelles formes de création qui dépassent les frontières et 
      la limite de nos connaissances.
    </p>
  </div>

 <br><br>
</div>

<!--End Main Container -->