---
layout: default_style
permalink: /fr/liuweiwei
---

<!-- Main Container -->
<div class="container-banner">
  <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
  <div class="banner-centered">LIU WeiWei</div>
</div>

<br><br>

<div class="section-global-wrapper center">
  <img src="../assets/img/team/liu.png" height=400 width=400 alt="liuweiwei"> 
  
  <br><br>
  <!--interview:  https://francais.cgtn.com/n/BfJAA-CIA-EEA/CefacA/index.html -->
  
  <div>
    <p>Née en Chine à Tianjin, Weiwei Liu s’est formée à l’Ecole de Cirque de Tianjin. 
      Après cinq années d’entraînement, elle est sortie diplômée avec la mention très bien. 
      En 1981 elle a obtenu le premier prix à la compétition professionnelle par équipe des arts du spectacle de Tianjin. 
      Par la suite, elle a entamé une tournée internationale pour représenter le cirque chinois à l’étranger 
      ainsi qu’une collaboration en France avec le Cirque Alexis Gruss dont le thème était « Paris-Pékin ».
      <br><br>

      Au terme de dix années de tournée internationale, elle a ressenti qu’il fallait insuffler une nouvelle dynamique créative 
      et conceptuelle au Cirque chinois pour qu’il puisse se développer. 
      En 1987 elle a donc décidé de s’installer en France, à Paris, pour développer une recherche personnelle 
      tout en enseignant son art à l’École Nationale du Cirque Annie Fratellini. 
      En même temps elle a été invitée à se produire sur différents types d’événements artistiques : 
      présentatrice pour la radio France-Asie ; tournée européenne avec le Cirque de Barbarie ; 
      rôle dans le téléfilm « Crimes et jardins », FR3 ; 
      tournée nationale avec France Loto pour les « Les Nuits Fantastiques du Loto » ; 
      rôle dans le film « Les cent et une nuits » ; artiste pour la compagnie Annie Fratellini dans « Concerto pour un Clown » ; 
      spectacle dans le Festival du Cirque de Bretagne .
      <br><br>    

      Après trente années d’expérience artistique, sûre de l’importance de l’art dans la culture, 
      Weiwei Liu est un socle pour la transmission du Cirque chinois. 
      Tradition et esprit de création sont la base de son enseignement ; 
      elle souhaite continuer sa recherche dans le monde de la création contemporaine pour offrir le meilleur d’elle au monde de la scène.
       
    </p>
  </div>

 <br><br>
</div>

<!--End Main Container -->