<!-- Footer -->
<footer> 
 
    <p class="copyright text"><i class="fa fa-external-link"></i> Links &ensp;
      <a href="/fr/actualite"> Actualité </a>&ensp;
      <a href="/fr/formation"> Formation </a>
      <a href="/fr/creation">&ensp;Création </a>
      <a href="/fr/echange">&ensp;Échange </a>
      <a href="/fr/contact">&ensp;Contact </a>
      <br><br>


      &copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">EACS-ARTS</a>.&ensp;&ensp; Asso EACS 2020 / Tout doits réservés</p>

</footer>