<!-- Footer -->
<footer> 
 
    <p class="copyright text"><i class="fa fa-external-link"></i> Links &ensp;
      <a href="/zh/actualite"> 消息 </a>&ensp;
      <a href="/zh/formation"> 课程 </a>
      <a href="/zh/creation">&ensp;创作 </a>
      <a href="/zh/echange">&ensp;交流 </a>
      <a href="/zh/contact">&ensp;联系 </a>
      <br><br>


      &copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">EACS-ARTS</a>.&ensp;&ensp; Asso EACS 2020 / Tout doits réservés</p>

</footer>