<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="/zh/index.html"><img class="office-logo" src="../assets/img/slider/logo.jpeg" alt="logo"></a>      
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/">Français</a>
      </li>
      <li>
        <a href="/zh/actualite.html">消息</a>
      </li>
      <li>
        <a href="/zh/formation.html">课程</a> <!-- about -->
      </li>
      <li>
        <a href="/zh/creation.html">创作</a> <!-- blog -->
      </li>
      <li>
        <a href="/zh/echange.html">交流</a><!-- team -->
      </li>
      <li>
        <a href="/zh/contact.html"><span>联系</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->