<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="/"><img class="office-logo" src="../assets/img/slider/logo.jpeg" alt="logo"></a>      
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/zh/index.html">中文</a>
      </li>
      <li>
        <a href="/fr/actualite.html">Actualité</a>
      </li>
      <li>
        <a href="/fr/formation.html">Formation</a> <!-- about -->
      </li>
      <li>
        <a href="/fr/creation.html">Création</a> <!-- blog -->
      </li>
      <li>
        <a href="/fr/echange.html">Échange</a><!-- team -->
      </li>
      <li>
        <a href="/fr/contact.html"><span>Contact</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->