<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
      <img src="../assets/img/slider/Head1.jpg" height=100% width=100% alt="Image of School"> 
        <br>
        <br>
        <br>
        <br>
        <div class="introduction-text">
          <p>EACS a ouvert à Paris en 1997. Tout en préservant notre formation d’origine qui s’enracine dans la tradition asiatique,
             l’école s’inspire de l’art contemporain occidental pour développer un style unique.<br>
             <br>
            Depuis la naissance de l’école, nous avons cherché à maintenir le cap sur trois axes fondamentaux :<br>
            <br>
          </p>
        </div>
        <div class="center introduction-text">
            <p> – la formation – la création – l’échange –</p>
        </div>    
        <hr>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                        <li data-target="#carousel-1" data-slide-to="6"></li>
                        <li data-target="#carousel-1" data-slide-to="7"></li>
                        <li data-target="#carousel-1" data-slide-to="8"></li>
                        <li data-target="#carousel-1" data-slide-to="9"></li>
                        <li data-target="#carousel-1" data-slide-to="10"></li>
                        <li data-target="#carousel-1" data-slide-to="11"></li>
                        
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/slider0.jpg" height=200px width=100% alt="Image of first carousel">
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/slider1.jpg" height=200 width=100% alt="Image of second carousel">
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/slider2.jpg" height=200 width=100% alt="Image of third carousel">
                        </div>
                        <!-- End Slide 3 -->
                        <!-- Begin Slide 4-12 -->
                        <div class="item"><img src="../assets/img/slider/slider3.jpg" height=200 width=100% alt="Image of 4th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider4.jpg" height=200 width=100% alt="Image of 5th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider5.jpg" height=200 width=100% alt="Image of 6th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider6.jpg" height=200 width=100% alt="Image of 7th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider7.jpg" height=200 width=100% alt="Image of 8th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider8.jpg" height=200 width=100% alt="Image of 9th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider9.jpg" height=200 width=100% alt="Image of 10th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider10.jpg" height=200 width=100% alt="Image of 11th carousel"></div>
                        <div class="item"><img src="../assets/img/slider/slider11.jpg" height=200 width=100% alt="Image of 12th carousel"></div>
                        <!-- End Slide 4-12 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->

    <br>
    <br>
    <div class="introduction-text">
      <p>La culture et l’art sont un monde qui garde sa part d’inconnu et d’indéfinition. 
          En combinant un apprentissage minutieux, une recherche créative et une démarche d’échange, 
          nous sommes intimement convaincus que le développement de nouvelles formes d’expression sont à la portée de nos mains.<br>
      </p>
    </div>
    

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Nos Missions</h3>
                    <p class="services-header-body"><em> depuis la naissance de l'école </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-tree fa-5x"></span></p>
                        <h3 class="services-title">Formation</h3>
                        <p class="services-body">Le développement technique et corporel et aussi une ouverture de l’esprit</p>
                        <p class="services-more"><a href="/fr/formation">Lire plus...</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-leaf fa-5x"></i></p>
                        <h3 class="services-title">Création</h3>
                        <p class="services-body">L’intersection d’une formation technique et d’une démarche artistique</p>
                        <p class="services-more"><a href="/fr/creation">Lire plus...</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-paper-plane fa-5x"></i></p>
                        <h3 class="services-title">Échange</h3>
                        <p class="services-body">Une disposition personnelle à étendre sa sphère de connaissance</p>
                        <p class="services-more"><a href="/fr/echange">Lire plus...</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
     </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
