<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>

    
    <div class="container-banner">
      <img src="../assets/img/banner01.jpg" height=100% width=100% alt="Banner photo"> 
      <div class="banner-centered"> Actualité </div>
    </div>

  
    <br>
    <div class="post-text">
      {{ content }}
      
      
    </div>
    <!-- <div class="section-global-wrapper">
    {{ content }}
    
    </div> -->

  </body>

  {% include footer.html %}
</html>
